body {
	background-color: #333;
	overflow-x: hidden;
}

.usingchatgpt {
	background: linear-gradient(to bottom, #6b696e, #4f4c50);
	padding: 20px;
	border-radius: 15px;
	color: white;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input {
	margin: 0;
	border: none;
	border-radius: 15px;
	width: 60%;
	min-width: 150px;
	padding: 10px;
	float: left;
	font-size: 16px;
	background-color: #f0f0f0;
	transition: background-color 0.3s;
}

input:focus {
	background-color: #fff;
}

.fetchh {
	padding: 5px 15px;
	min-width: 75px;
	width: 20%;
	background: #d9d9d9;
	border-radius: 100px;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.fetchh:hover {
	background-color: #bbb;
}

.getresultfromapi {
	border: 2px solid #1a1414;
	padding: 10px 10px;
	background: #d1a9a9;
	width: 90%;
	margin: auto;
	text-align: center;
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin-top: 20px;
}

#ad {
	border: 2px solid #790303;
	padding: 10px 10px;
	background: #22cf64;
	text-align: center;
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* ------------------------ */

.cont {
	display: flex;
	padding: 40px 20px;
	gap: 5rem;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
	margin-top: 50px;
}
#ad {
	min-width: 40%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.link {
	display: flex;
	justify-content: space-between;
	padding: 15px 10%;
}

.srch {
	padding: 15px 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
#add {
	min-height: 200px;
}

.qr {
	background-color: burlywood;
	padding: 25px;
	border-radius: 20px;
}
