body {
  background-color: grey;
  }
 
  
  .usingchatgpt {
    background-color: #6b696e;
    padding:  40px 40px;
    border-radius: 15px;
    color: white;
    text-align: center;
    }

    input {
      margin: 0;
      border: none;
      border-radius: 15px;
      width: 75%;
      padding: 10px;
      float: left;
      font-size: 16px;
    }

    .fetchh {
      padding: 2px;
      width: 8%;
      background: #d9d9d9;
      border-radius: 100px;
      color: #555;
      float: left;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;

    }

    .fetchh:hover {
      background-color: #bbb;
    }
    
    .getresultfromapi{
       border-color: #1a1414;;
       padding: auto;
       background: #d1a9a9;
       text-align: center;
      border-radius: 50px;

    }
    #ad{
      border-color: #790303;;
      padding: auto;
      background: #22cf64;
      text-align: center;
     border-radius: 50px;

   }

   .qr{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   }