body {
    background-color: #393535;
    font-family: Arial, sans-serif;
}

.usingchatgpt {
    background: linear-gradient(to bottom, #72ba5e, #1e8f1a);
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(84, 32, 239, 0.3);
}

input {
    margin: 0;
    border: none;
    border-radius: 15px;
    width: 60%;
    min-width: 150px;
    padding: 10px;
    float: left;
    font-size: 16px;
    background-color: #333333;
    transition: background-color 0.3s;
    color: white;
}

input:focus {
    background-color: #696060;
}

.fetchh {
    padding: 5px 15px;
    min-width: 75px;
    width: 20%;
    background: #141111;
    border-radius: 100px;
    color: rgb(245, 245, 245);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.fetchh:hover {
    background-color: #666666;
}

.getresultfromapi {
    border: 2px solid #ffffff;
    padding: 10px 10px;
    background: #4d4d4d;
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(231, 62, 231, 0.639);
    margin-top: 20px;
    color: white;
}

#ad {
    border: 2px solid #3e3636;
    padding: 10px 10px;
    background: #f5f5f5;
    text-align: center;
    border-radius: 15px;	
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    color: #4d4d4d;
}

/* ------------------------ */

.cont {
    display: flex;
    padding: 40px 20px;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 50px;
}
#ad {
	background-color: #b7a1a1;
    min-width: 40%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.link {
    display: flex;
    justify-content: space-between;
    padding: 15px 10%;
}

.srch {
    padding: 15px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#add {
    min-height: 200px;
}

.qr {
    background-color: #756a6a;
    padding: 25px;
    border-radius: 20px;
    color: white;
}